body
{
background-color:white;
}

.container
{
width:220px;
position:relative;
left:15px;
top:20px;
height:40px;
}
#result
{
background-color:white;
display: none;
}
.btn
{
  background-color:yellow;
}
